@import "../base";

/* ==========================================================================
	Article Split Header Component
========================================================================== */
.c-ArticleSplitHeader {
	width: 100%;
	position: relative;

	@include grid-col-full-bleed("both");
	@include v-spacing(margin-bottom, 60px, 120px);
}

.c-ArticleSplitHeader__inner {
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.c-ArticleSplitHeader__image,
.c-ArticleSplitHeader__right {

	width: 100%;

	@include media(">=medium") {

		width: 50%;
	}
}

.c-ArticleSplitHeader__image {
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
	position: sticky;
	top: 0;

	@media not all and (min-resolution: 0.001dpcm) {

		@supports (-webkit-appearance: none) {
			height: initial;
		}
	}

	@include media("<medium") {
		height: 50vh;
		position: relative;
		overflow: hidden;
		max-height: 450px;
	}

	@include media(">=medium") {
		min-height: 650px;
	}

	> div {
		height: 100%;

		@include media("<=medium") {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	img {
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@include media("<medium") {
			max-height: 450px;
		}

		@include media(">=medium") {
			min-height: 650px;
		}
	}
}

.c-ArticleSplitHeader__right {
	display: flex;
	flex-wrap: wrap;
}

.c-ArticleSplitHeader__header-outer-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	padding-left: var(--site-margin);
	padding-right: var(--site-margin);

	@include v-spacing(padding-top, 50px, 180px);
	@include v-spacing(padding-bottom, 20px, 130px);

	@include media("<medium") {
		padding-bottom: 0;
		margin-bottom: 60px;
	}

	@include media(">=medium") {
		min-height: 100vh;
	}

}

.c-ArticleSplitHeader__header {
	width: 100%;
	margin-bottom: 20px;

	@include media(">=xxlarge") {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

.c-ArticleSplitHeader__detail-wrap {
	width: 100%;

	@include media(">=medium") {
		width: 80%;
		margin: 0 auto;
	}
}

.c-ArticleSplitHeader__details {
	width: 100%;
	text-transform: uppercase;

	@include P3-Mono;

	.dot {

		@include dot;
	}
}

.c-ArticleSplitHeader__excerpt {
	width: 100%;
	padding-top: 20px;

	@include H5-Serif;
}

.c-ArticleSplitHeader__additional-content {
	width: 100%;

	@include media(">=medium") {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		column-gap: var(--site-gutter);
		box-sizing: border-box;
	}
}

.c-ArticleSplitHeader__additional-content-text {
	width: 100%;

	@include media("<medium") {
		padding-left: var(--site-margin);
		padding-right: var(--site-margin);
	}

	@include media(">=medium") {

		@include grid-col(2, 9);
	}

	> p {

		@include P1-SansSerif;

		&:not(:nth-child(1)) {
			text-indent: 8%;
		}
	}
}

.c-ArticleSplitHeader--reversed {

	.c-ArticleSplitHeader__right {

		@include media(">=medium") {
			order: 1;
		}
	}

	.c-ArticleSplitHeader__image {

		@include media(">=medium") {
			order: 2;
		}
	}
}

.c-ArticleSplitHeader--with-excerpt {

	.c-ArticleSplitHeader__right {
		flex-direction: column;
		justify-content: space-between;
	}

	.c-ArticleSplitHeader__header-outer-wrapper {
		align-content: space-between;
	}

	.c-ArticleSplitHeader__header {

		@include media("<medium") {
			display: none;
		}
	}

	.c-ArticleSplitHeader__header-mobile {
		width: 100%;
		padding-top: 105px;
		margin-bottom: 60px;
		padding-left: var(--site-margin);
		padding-right: var(--site-margin);
		text-align: center;

		@include media(">=medium") {
			display: none;
		}
	}
}

.c-ArticleSplitHeader--no-margin {
	margin-bottom: 0;
}

.c-ArticleSplitHeader--serif {

	.c-ArticleSplitHeader__header,
	.c-ArticleSplitHeader__header-mobile {

		@include H3-Serif;
		line-height: 1.2;
	}
}

.c-ArticleSplitHeader--sans-serif {

	.c-ArticleSplitHeader__header,
	.c-ArticleSplitHeader__header-mobile {
		text-transform: uppercase;

		@include H4-SansSerif;
	}
}

.c-ArticleSplitHeader--white-bg {
	background-color: $c-white;
}
