@import "../base";

.c-BurgerMenu {
	background-color: $c-white;
	position: fixed;
	top: 0;
	right: 0;
	z-index: $z-level-one;
	width: 100vw;
	height: 100%;
	overflow: hidden;
	transform: translate3d(0, -100%, 0);
	transition: 600ms transform 400ms $standard-curve;

	&.is-active {
		transform: translate3d(0, 0, 0);
		transition: 600ms transform $standard-curve;

		.c-BurgerMenu__image-area {
			pointer-events: auto;
			opacity: 1;
		}

		.c-BurgerMenu__main-item > a {
			top: 0;
			opacity: 1;
			transition:
				600ms top var(--animation-delay) $standard-curve,
				600ms opacity var(--animation-delay) $standard-curve;
		}

		.c-BurgerMenu__secondary {
			opacity: 1;
			transition: 800ms opacity 400ms $standard-curve;
		}
	}
}

// elements
.c-BurgerNav__links {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	overflow-y: auto;
	// hide scroll bars if overflow kicks in
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.c-BurgerNav__top,
.c-BurgerNav__bottom {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	padding-left: var(--site-margin);
}

.c-BurgerNav__top {
	padding-top: 115px;

	@include media("<small") {
		padding-top: 80px;
	}
}

.c-BurgerNav__bottom {
	padding-top: 70px;
	padding-bottom: 70px;

	@include media("<small") {
		padding-bottom: 20px;
	}
}

.c-BurgerMenu__main,
.c-BurgerMenu__secondary {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-direction: column;
}

.c-BurgerMenu__main {

	@include sibling-fade;
}

.c-BurgerMenu__main-item {
	width: initial;
	display: flex;
	overflow: hidden;

	@include H2-SansSerif;
	line-height: 1;

	> a {
		text-decoration: none;
		color: $c-black;
		position: relative;
		top: -60px;
		opacity: 0;
		transition:
			600ms top $standard-curve,
			600ms opacity $standard-curve;
	}
}

.c-BurgerMenu__secondary {
	opacity: 0;
	transition: 600ms opacity $standard-curve;

	&:nth-of-type(2) {
		margin-left: var(--site-gutter);
	}
}

.c-BurgerMenu__secondary-item {

	@include P1-SansSerif;

	> a {
		text-decoration: none;
		color: $c-black;
		transition: 600ms opacity $standard-curve;

		@media (hover: hover) {

			&:hover {
				opacity: 0.4;
			}
		}
	}
}

.c-BurgerMenu__image-area {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: 600ms opacity 1000ms $standard-curve;
	z-index: -1;
}

.c-BurgerMenu__featured-image {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	pointer-events: none;
	max-width: 30vw; // think this may have to be px value
	max-height: 80vh; // think this may have to be px value

	&.is-active {
		opacity: 1;
	}
}
