@import "../base";

.c-BurgerMenu {
	pointer-events: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: $z-level-one;
	width: 100vw;
	height: 100%;
	overflow: hidden;
	display: flex;

	&.is-active {

		.c-BurgerMenu__nav {
			pointer-events: auto;
			transform: translate3d(0, 0, 0);
			transition: 600ms transform $standard-curve;
		}

		.c-BurgerMenu__image-area {
			pointer-events: auto;
			opacity: 1;
		}

		.c-BurgerMenu__main-item > a {
			top: 0;
			opacity: 1;
			transition:
				600ms top var(--animation-delay) $standard-curve,
				600ms opacity var(--animation-delay) $standard-curve;
		}

		.c-BurgerMenu__secondary {
			opacity: 1;
			transition: 800ms opacity 400ms $standard-curve;
		}
	}
}

// elements
.c-BurgerMenu__image-area {
	position: relative;
	width: 50vw;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	transition: 600ms opacity 1000ms $standard-curve;
}

.c-BurgerMenu__featured-image {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: 400ms opacity ease;
	pointer-events: none;
	transform: translate(-50%, -50%);

	&.is-active {
		opacity: 1;
	}
}

.c-BurgerMenu__nav {
	pointer-events: none;
	background-color: $c-white;
	width: 50vw;
	height: 100%;
	position: relative;
	overflow-y: auto;
	transition: 600ms transform 400ms $standard-curve;
	// hide scroll bars if overflow kicks in
	-ms-overflow-style: none;
	scrollbar-width: none;
	transform: translate3d(50vw, 0, 0);

	&::-webkit-scrollbar {
		display: none;
	}
}

.c-BurgerMenu__close {
	position: absolute;
	top: 0;
	right: 0;
}

.c-BurgerNav__links {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}

.c-BurgerNav__top,
.c-BurgerNav__bottom {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	padding: 30px;
}

.c-BurgerMenu__main,
.c-BurgerMenu__secondary {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-direction: column;

}

.c-BurgerMenu__main-item {
	width: initial;
	display: flex;
	overflow: hidden;

	> a {
		position: relative;
		top: 60px;
		opacity: 0;
		transition:
			600ms top $standard-curve,
			600ms opacity $standard-curve;
	}
}

.c-BurgerMenu__secondary {
	opacity: 0;
	transition: 600ms opacity $standard-curve;
}
