@import "../base";

/* ==========================================================================
	Credit Component
========================================================================== */

.c-Credit {
	width: 100%;
	position: relative;
}

.c-Credit__text {
	text-transform: uppercase;

	@include P3;

	span {
		text-transform: capitalize;
	}
}
