@import "../base";

/* ==========================================================================
	Credit Component
========================================================================== */

.c-Credit {
	width: 100%;
	position: relative;
}

.c-Credit__text {
	text-transform: uppercase;

	@include P3-Mono;

	span {
		text-transform: capitalize;

		@include P4-Mono;
	}
}
