@import "../base";

/* ==========================================================================
	Featured Article Component
========================================================================== */
.c-FeaturedArticle {
	width: 100%;
	position: relative;

	@include grid-col(1, -1);
	@include v-spacing(margin-bottom, 60px, 120px);
}

.c-FeaturedArticle__inner {
	width: 100%;
}

.c-FeaturedArticle__type {
	width: 100%;
	text-transform: capitalize;

	@include H6-SansSerif;

	sup {

		@include v-type(12px, 20px, 20px);
	}
}

.c-FeaturedArticle__header {

	@include v-spacing(margin-bottom, 40px, 50px);
}

.c-FeaturedArticle__details {
	width: 100%;
	text-transform: uppercase;

	@include P3-Mono;
	@include v-spacing(margin-bottom, 10px, 20px);

	.dot {

		@include dot;
	}
}

.c-FeaturedArticle__excerpt {
	width: 100%;

	@include H5-Serif;
}

.c-FeaturedArticle--split {
	height: 90vh;
	min-height: 700px;
	overflow: hidden;
	position: relative;

	.c-FeaturedArticle__inner {
		height: 100%;

		@include grid-container(true);
	}

	.c-FeaturedArticle__content-wrap {
		order: 2;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		flex-wrap: wrap;
		height: 100%;

		@include grid-col(1, -1);

		@include media(">=medium") {
			flex-direction: column;
			justify-content: space-between;
			order: 1;

			@include grid-col(1, 12);
		}

		@include media(">=large") {

			@include grid-col(1, 14);
		}
	}

	.c-FeaturedArticle__image-wrap {
		order: 1;
		overflow: hidden;

		@include grid-col(1, -1);

		@include media(">=medium") {
			order: 2;

			@include grid-col(12, -1);
		}

		@include media(">=large") {

			@include grid-col(14, -1);
		}
	}

	.c-FeaturedArticle__image {

		@include media(">=medium") {
			height: 100%;

			img {
				height: 100%;
				object-fit: cover;
				object-position: center;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.c-FeaturedArticle__type {

		@include v-spacing(padding-top, 20px, 25px);

		@include media("<medium") {
			margin-bottom: 20px;
		}

		@include media(">=medium") {
			border-top: 2px solid $c-black;
		}
	}
}

.c-FeaturedArticle--full-screen {
	height: 95vh;
	min-height: 600px;
	overflow: hidden;
	position: relative;

	@include grid-col-full-bleed("both");

	.c-FeaturedArticle__type {
		position: absolute;
		width: calc(100% - #{var(--site-margin)});
		top: calc(var(--site-margin) + 10px);
		left: var(--site-margin);
	}

	.c-FeaturedArticle__content {
		position: absolute;
		left: var(--site-margin);
		bottom: var(--site-margin);

		@include media(">=large") {
			width: 60%;
		}

		@include media(">=xlarge") {
			width: 50%;
		}
	}

	.c-FeaturedArticle__image-bg {
		position: relative;
		height: 95vh;
		min-height: 600px;

		@include media("<medium") {

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				height: 100%;
				transform: translate(-50%, -50%);
				object-fit: cover;
			}
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $c-black;
			opacity: 0.2;
			pointer-events: none;
		}
	}

	.c-FeaturedArticle__type,
	.c-FeaturedArticle__header,
	.c-FeaturedArticle__details {
		color: $c-white;
	}

	.c-FeaturedArticle__header {

		@include v-spacing(margin-bottom, 20px, 40px);
	}

	.c-FeaturedArticle__details {
		margin-bottom: 0;

		.dot {

			@include dot(false);
		}
	}
}

.c-FeaturedArticle--serif {

	.c-FeaturedArticle__header {

		@include H2-Serif;
	}
}

.c-FeaturedArticle--sans-serif {

	.c-FeaturedArticle__header {

		@include H2-SansSerif;
	}
}

.c-FeaturedArticle--reverse {

	.c-FeaturedArticle__inner {
		direction: rtl;
	}

	.c-FeaturedArticle__content-wrap {
		direction: ltr;
	}

	.c-FeaturedArticle__image-wrap {
		direction: ltr;
	}
}

.c-FeaturedArticle--term-headers {
	border-bottom: 3px solid $c-black;

	@include v-spacing(padding-bottom, 40px, 60px);
	@include v-spacing(margin-bottom, 40px, 60px);

	@include media(">=medium") {
		height: calc(100vh - 100px);
	}

	.c-FeaturedArticle__type {
		padding-top: 0;
		border-top: none;

		@include H1-SansSerif;
		line-height: 0.6;

		@include media("<small") {
			font-size: 40px;
		}
	}

	.c-FeaturedArticle__header {

		@include H6-SansSerif;
		@include v-spacing(margin-bottom, 30px, 15px);
	}

	.c-FeaturedArticle__details {
		display: none;
	}

	.c-FeaturedArticle__content-wrap {

		.c-FeaturedArticle__type,
		.c-FeaturedArticle__header {

			@include media("<medium") {
				display: none;
			}
		}
	}

	.c-FeaturedArticle__image-wrap {

		@include media("<medium") {
			display: flex;
			margin-bottom: 30px;
		}

		// @include media(">=medium") {
		// 	overflow: hidden;
		// 	position: relative;
		// 	height: calc(100vh - 120px);
		// }
	}

	.c-FeaturedArticle__content-mobile-wrap {

		@include media("<medium") {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		@include media(">=medium") {
			display: none;
		}

		> p {

			@include media("<medium") {
				margin-bottom: 0;
			}
		}
	}

	.c-FeaturedArticle__image-mobile-wrap {

		@include media("<medium") {
			width: 50%;
		}
	}

	.c-FeaturedArticle__link {

		@include v-spacing(margin-top, 20px, 45px);
		@include pill;
	}
}

.c-FeaturedArticle--white-bg {
	background-color: $c-white;
	padding-left: var(--site-margin);
	padding-right: var(--site-margin);
	margin-bottom: 0;
	height: 110vh;

	@include grid-col-full-bleed("both");
	@include v-spacing(padding-top, 60px, 120px);
	@include v-spacing(padding-bottom, 60px, 120px);
}
