@import "../base";

/* ==========================================================================
	Featured Image Component
========================================================================== */
.c-FeaturedImage {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	@include v-spacing(margin-bottom, 60px, 200px);
}

.c-FeaturedImage__inner {
	width: 100%;

	@include grid-container(true);
}

.c-FeaturedImage__image-wrap {
	overflow: hidden;
}

.c-FeaturedImage__image {
	transform: scale(1.2);
}

.c-FeaturedImage--left {

	.c-FeaturedImage__image-wrap {

		@include grid-col-full-bleed;

		@include media("<medium") {

			@include grid-col-full-bleed("both");
		}
	}
}

.c-FeaturedImage--right {

	.c-FeaturedImage__image-wrap {

		@include grid-col-full-bleed("right");

		@include media("<medium") {

			@include grid-col-full-bleed("both");
		}
	}
}

.c-FeaturedImage--center {

	.c-FeaturedImage__image-wrap {

		@include media("<medium") {

			@include grid-col-full-bleed("both");
		}

		@include media(">=medium") {

			@include grid-col(2, 20);
		}

		@include media(">=large") {

			@include grid-col(2, 24);
		}
	}
}

.c-FeaturedImage--center-small {

	.c-FeaturedImage__image-wrap {

		@include media("<medium") {

			@include grid-col-full-bleed("both");
		}

		@include media(">=medium") {

			@include grid-col(3, 19);
		}

		@include media(">=large") {

			@include grid-col(5, 21);
		}
	}
}
