@import "../base";

/* ==========================================================================
	Image Slider Component
========================================================================== */
.c-ImageSlider {
	width: 100%;
	position: relative;
	overflow: hidden;

	@include grid-col-full-bleed("both");
	@include v-spacing(margin-bottom, 60px, 180px);
}

.c-ImageSlider__col {
	width: 100%;

	@include grid-container;
}

.c-ImageSlider__wrapper {
	width: 100%;
	overflow: initial;

	@include grid-col(1, -1);

	@include media(">=medium") {

		@include grid-col(2, -1);
	}

	.flickity-viewport {
		overflow: initial;
	}
}

.c-ImageSlider__slide {
	width: 85%;

	@include v-spacing(margin-right, 30px, 120px);

	@include media(">=medium") {
		width: 70%;
	}
}

.l-ParagraphBlocks__image-caption {

	@include P3;
	@include v-spacing(margin-top, 15px, 20px);
}