@import "../base";

/* ==========================================================================
	Newsletter Signup Component
========================================================================== */
.c-NewsletterSignup {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

//elements
.c-NewsletterSignup__header {
	width: 100%;
	display: block;
	color: $c-white;
	margin-bottom: 15px;

	@include P2-SansSerif;
}

.c-NewsletterSignup__form {
	width: 100%;
	display: flex;

	.wpcf7 {
		width: 100%;
	}

	.c-Form__row {

		.wpcf7-form-control-wrap {
			background: transparent;
			height: initial;
		}
	}

	form.wpcf7-form {
		position: relative;
		display: flex;
		transition:
			300ms opacity $standard-curve,
			300ms height $standard-curve;

		label {
			position: absolute;
			left: 0;
			top: -3px;
			color: $c-white;
			opacity: 0.2;
			text-transform: capitalize;
			transition:
				top 500ms $standard-curve,
				opacity 500ms $standard-curve;

			@include H5-Serif;

			> span {
				display: none;
			}

			&.js-fake-placeholder--active {
				opacity: 0;
				top: 10px;
			}
		}

		input[type="email"].form-control {
			position: relative;
			background: transparent;
			border-top: 0;
			border-right: 0;
			border-left: 0;
			border-radius: 0;
			width: 100%;
			height: 40px;
			border-bottom: 1px solid $c-white;
			transition: border-bottom 400ms $standard-curve;
			resize: none;
			color: $c-white;

			@include H5-Serif;
			@include site-transition(color, 500ms);

			&:focus {
				outline: 0;
			}
		}

		button[type="submit"],
		input[type="submit"] {
			background-color: transparent;
			outline: 0;
			border: none;
			padding: 0;
			float: left;
			cursor: pointer;
			color: $c-white;

			@include P2-SansSerif;
			@include site-transition(opacity, 500ms);

			@media (hover: hover) {

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}

	.submit-wrap {
		position: absolute;
		right: 0;
		top: 12px;
		z-index: 2;

		@include media("<medium") {
			width: 100%;
			top: 100%;
			right: 50%;
			transform: translateX(50%);
			display: flex;
			justify-content: center;
			text-align: center;

			@include pill;
		}

		@include media(">=large") {
			top: 14px;
		}

		.ajax-loader {
			display: none;
		}
	}
}

// modifiers
.c-NewsletterSignup--small-txt {

	.c-NewsletterSignup__form form {

		input[type="email"] {

			@include P2-SansSerif;
		}

		label {

			@include P2-SansSerif;
		}
	}
}

.c-NewsletterSignup--dark {

	.c-NewsletterSignup__header {
		color: $c-black;
	}

	.c-NewsletterSignup__form {

		form.wpcf7-form {

			label,
			input[type="email"].form-control,
			button[type="submit"],
			input[type="submit"] {
				color: $c-black;
			}

			input[type="email"].form-control {
				border-bottom: 1px solid $c-black;
			}
		}
	}
}

@keyframes fadeInUp {

	0% {
		opacity: 0;
		transform: translate3d(0, 6px, 0);
	}

	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
