@import "../base";

/* ==========================================================================
	Post Card Component
========================================================================== */
.c-PostCard {
	width: 100%;
	position: relative;

	@media (hover: hover) {

		&:hover {

			.c-PostCard__image {
				transform: scale(1.05);
			}
		}
	}
}

.c-PostCard__link {
	display: block;
	color: $c-black;
	text-decoration: none;
}

.c-PostCard__image-wrap {
	width: 100%;
	overflow: hidden;
}

.c-PostCard__image {
	width: 100%;
	transition: 1200ms transform ease;
}

.c-PostCard__info {
	width: 100%;

	@include v-spacing(padding-top, 17px, 25px);
}

.c-PostCard__details {
	width: 100%;
	text-transform: uppercase;
	padding-bottom: 17px;

	@include P3-Mono();

	.dot {

		@include dot;
	}
}

.c-PostCard__header {
	width: 100%;
	margin-bottom: 10px;

	@include H5-Serif;
}

.c-PostCard__text {
	width: 100%;

	@include P2-SansSerif;
}
