@import "../base";

/* ==========================================================================
	TopNav
========================================================================== */
.c-TopNav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $z-level-three;
	padding-left: var(--site-margin);
	padding-right: var(--site-margin);
	transition:
		400ms top $standard-curve,
		200ms background-color linear;

	@include v-spacing(padding-top, $VSM2, $VSD2);

	.white-bg & {
		background-color: $c-white;

		.c-TopNav__inner::after {
			background-color: $c-black;
		}

		.c-TopNav__logo {
			color: $c-black;
		}

		.c-TopNav__menu,
		.c-TopNav__sub-menu {
			color: $c-black;

			a {
				color: $c-black;
			}
		}
	}

	.black-bg & {
		background-color: $c-black;

		.c-TopNav__inner::after {
			background-color: $c-white;
		}

		.c-TopNav__logo {
			color: $c-white;
		}

		.c-TopNav__menu,
		.c-TopNav__sub-menu {
			color: $c-white;

			a {
				color: $c-white;
			}
		}
	}

	.burger-menu-active &,
	.header-is-pinned & {
		background-color: $c-white;
		transition:
			400ms top $standard-curve,
			200ms background-color $standard-curve;

		.c-TopNav__inner::after {
			background-color: $c-black !important;
		}

		.c-TopNav__logo {
			color: $c-black !important;
		}

		.c-TopNav__menu,
		.c-TopNav__sub-menu {
			color: $c-black !important;

			a {
				color: $c-black !important;
			}
		}
	}
}

.c-TopNav__inner {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	position: relative;

	@include v-spacing(padding-bottom, $VSM2, $VSD2);

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: $c-white;
		transition:
			500ms background-color $standard-curve,
			400ms opacity $standard-curve;

		@include media("<medium") {
			left: calc(#{var(--site-margin)} * -1);
			width: calc(100% + (#{var(--site-margin)} * 2));
		}

		.dark-state & {
			background-color: $c-black;
		}
	}

	.c-TopNav__left {
		float: left;
	}

	.c-TopNav__center {
		position: absolute;

		@include media("<medium") {
			left: 0;
		}

		@include media(">=medium") {
			top: -1px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.c-TopNav__right {
		float: right;
		display: flex;
	}
}

// elements
.c-TopNav__logo {
	display: flex;
	color: $c-white;
	transition: 500ms color $standard-curve;

	.dark-state & {
		color: $c-black;
	}

	> svg {
		display: flex;

		@include v-spacing(width, 180px, 250px);
		@include v-spacing(height, 15px, 20px);
	}
}

.c-TopNav__menu,
.c-TopNav__sub-menu {
	display: none;

	@include media(">=medium") {
		display: flex;
		color: $c-white;
		text-decoration: none;
		transition: 500ms color $standard-curve;

		@include P2-SansSerif;

		.dark-state & {
			color: $c-black;
		}
	}

	a {
		color: $c-white;
		text-decoration: none;
		transition: 500ms color $standard-curve;

		@include site-transition(opacity, 500ms);

		@media (hover: hover) {

			&:hover {
				opacity: 0.3;
			}
		}

		.dark-state & {
			color: $c-black;
		}
	}
}

.c-TopNav__menu {

	> li:not(:first-child) {

		@include v-spacing(padding-left, 10px, 30px);
	}
}

.c-TopNav__sub-menu {

	> li {

		@include v-spacing(padding-right, $VSM2, $VSD4);
	}

}

// modifiers
.c-TopNav.c-TopNav--is-pinned {

	@include v-spacing(top, -52px, -59px);

	.c-TopNav__inner {

		&::after {
			opacity: 0;
		}
	}
}
