@import "../base";

/* ==========================================================================
	Two up Images Component
========================================================================== */
.c-TwoUpImages {
	width: 100%;

	@include v-spacing(margin-bottom, 60px, 180px);
}

.c-TwoUpImages__inner {

	@include grid-container(true);
}

.c-TwoUpImages__caption {
	width: 100%;
	margin-top: 20px;

	@include P3;
}

.c-TwoUpImages__left {

	@include media("<medium") {
		margin-bottom: 60px;
	}
}


.c-TwoUpImages--equal-images {

	.c-TwoUpImages__left,
	.c-TwoUpImages__right {

		@include grid-col(1, -1);
	}

	.c-TwoUpImages__left {

		@include media(">=medium") {

			@include grid-col(2, 10);
		}

		@include media(">=large") {

			@include grid-col(2, 12);
		}
	}

	.c-TwoUpImages__right {

		@include media(">=medium") {

			@include grid-col(12, 20);
		}

		@include media(">=large") {

			@include grid-col(14, 24);
		}
	}
}

.c-TwoUpImages--offset-images {


	.c-TwoUpImages__left {

		@include grid-col(2, 8);

		@include media(">=medium") {

			@include grid-col(1, 8);
		}
	}

	.c-TwoUpImages__right {

		@include grid-col(1, -1);

		@include media("<medium") {

			@include grid-col-full-bleed("both");

			.c-TwoUpImages__caption {
				padding-left: var(--site-margin);
				padding-right: var(--site-margin);
			}
		}

		@include media(">=medium") {

			@include grid-col(11, -1);
		}

		@include media(">=large") {

			@include grid-col(14, -1);
		}
	}
}
