/* ============================================================================================
	Vertical Spacing (for use with v-spacing mixin)
============================================================================================= */

// mobile
$VSM1: 10px;
$VSM2: 20px;
$VSM3: 30px;
$VSM4: 40px;
$VSM5: 50px;
$VSM6: 80px;
$VSM7: 120px;

// desktop
$VSD1: 10px;
$VSD2: 20px;
$VSD3: 30px;
$VSD4: 40px;
$VSD5: 50px;
$VSD6: 70px;
$VSD7: 100px;
$VSD8: 140px;
$VSD9: 160px;


/* ============================================================================================
	Breakpoints
============================================================================================= */
$breakpoints: (
	xsmall: 320px,
	small: 768px,
	medium: 1024px,
	large: 1440px,
	xlarge: 1920px,
	xxlarge: 2000px
);


/* ============================================================================================
	Colours
============================================================================================= */
$c-black:       	#000;
$c-white:       	#fff;
$c-grey:   				#555;
$c-hp-yellow:   	#ffedd1;
$c-blue:					#203fec;
$c-red:						#a33;
$c-warning: 				$c-red;


/* ============================================================================================
	Z-Index
============================================================================================= */
$z-base: 0;
$z-level-one: 10;
$z-level-two: 20;
$z-level-three: 30;


/* =========================================================================
  Grid Variables
========================================================================== */
// coloumn count
$grid_col_mobile: 10;
$grid_col_desktop: 20;
// coloumn gutter
$grid_col_gutter_mobile: 16px;
$grid_col_gutter_tablet: 26px;
$grid_col_gutter_desktop: 40px;
// coloumn margins
$grid_margin_mobile: 35px;
$grid_margin_desktop: 100px;


/* =========================================================================
  cubic-bezier curve variables
========================================================================== */
$standard-curve: cubic-bezier(0.25, 1, 0.5, 1);


/* =========================================================================
  Font variables
========================================================================== */
$FaktPro-Normal: "FaktPro-Normal", sans-serif;
$FaktPro-Blond: "FaktPro-Blond", sans-serif;

$f-body: $FaktPro-Normal;
$f-header: $FaktPro-Normal;
