/* ============================================================================================
	Vertical Spacing (for use with v-spacing mixin)
============================================================================================= */

// mobile
$VSM1: 10px;
$VSM2: 20px;
$VSM3: 30px;
$VSM4: 40px;
$VSM5: 50px;
$VSM6: 80px;
$VSM7: 120px;

// desktop
$VSD1: 10px;
$VSD2: 20px;
$VSD3: 30px;
$VSD4: 40px;
$VSD5: 50px;
$VSD6: 70px;
$VSD7: 100px;
$VSD8: 140px;
$VSD9: 160px;


/* ============================================================================================
	Breakpoints
============================================================================================= */
$breakpoints: (
	xsmall: 320px,
	small: 768px,
	medium: 1024px,
	large: 1440px,
	xlarge: 1920px,
	xxlarge: 2000px
);


/* ============================================================================================
	Colours
============================================================================================= */
$c-white:       	#fff;
$c-off-white:   	#f7f6f4;
$c-grey:   				#d9d9d9;
$c-black:       	#1d1d1b;
$c-blue:					#0079a3;
$c-orange:				#e66c37;
$c-yellow:				#f7ca46;
$c-green:					#459967;


/* ============================================================================================
	Z-Index
============================================================================================= */
$z-base: 0;
$z-level-one: 10;
$z-level-two: 20;
$z-level-three: 30;


/* =========================================================================
  cubic-bezier curve variables
========================================================================== */
$standard-curve: cubic-bezier(0.25, 1, 0.5, 1);


/* =========================================================================
  Font variables
========================================================================== */
$NeueHaasUnicaW1GRegular: "NeueHaasUnicaW1GRegular", sans-serif;
$RecklessNeue-Book: "RecklessNeue-Book", serif;

$f-body: $NeueHaasUnicaW1GRegular;
$f-header: $RecklessNeue-Book;


/* =========================================================================
  Grid Variables (size vars must match the breakpoint vars)
========================================================================== */

$site-ccs-variables : (
	cols: (
		xsmall: 8,
		medium: 20,
		large: 24,
	),
	margin: (
		xsmall: 20px,
		medium: 46px,
		large: 56px,
	),
	gutter: (
		xsmall: 20px,
		medium: 30px,
		large: 40px,
	),
);
