
/*
Form Mixins
Create mixins first so they can be reused on Woo forms or other places where you can't add your own classes
========================================================================== */
@mixin form-base() {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

@mixin form-row($row: "full") {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	position: relative;
	margin-bottom: 30px;

	@if $row == "fill" {
		width: 100%;
		flex-wrap: wrap;
	}

	@if $row == "split" {
		width: 50%;
		flex-wrap: nowrap;
	}
}

@mixin form-number() {

	input[type="number"] {

		@include body;
		line-height: normal;
		background-color: transparent;
		border: 3px solid $c-black;
		padding: 5px;
		width: 50px;
		text-align: center;
	}

	// just hide spinners for now
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		height: 30px;
	}

	input[type="number"]:focus {
		outline: 0;
		border: 3px solid $c-grey;
	}

}

@mixin form-checkbox() {

	input[type="checkbox"] {
		display: none;
	}

	input[type="checkbox"] + * {
		cursor: pointer;
		display: block;
	}

	input[type="checkbox"] + *::before {
		content: "";
		display: inline-block;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		border: 1px solid $c-grey;
		background-color: transparent;
		margin-right: 5px;
	}

	input[type="checkbox"] + *::after {
		content: "";
		position: absolute;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		top: 5px;
		left: 3px;
		transition: 400ms background-color ease;
	}

	input[type="checkbox"]:checked + *::after {
		background-color: $c-black;
	}
}

@mixin form-radio() {

	input[type="radio"] {
		display: none;
	}

	// normally we want the label to follow the input (input + label)
	// that may not always be possible, so use * selector to cover all bases (eg. input + span)
	input[type="radio"] + * {
		cursor: pointer;
		margin-bottom: 3px;
		display: block;
	}

	input[type="radio"] + *::before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		border: 3px solid $c-black;
		background-color: transparent;
		margin-right: $grid_col_gutter_mobile;
		vertical-align: bottom;
	}


	input[type="radio"]:checked + *::before {
		background-color: $c-black;
	}
}

@mixin form-select() {

	select,
	.ss-main {
		width: 100%;
		outline: none;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: none;

		&.wpcf7-not-valid {
			color: $c-red;
			border-bottom: 1px solid $c-red;
		}
	}

	.ss-single-selected {
		font-size: 16px !important;
		padding: 0;
		outline: none;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		border-radius: 0;
		border-bottom: 1px solid $c-grey;
		padding-bottom: 10px;
		color: $c-black;
	}

	.ss-content {
		border: 1px solid $c-grey;

		.ss-search {
			display: none;
		}

		.ss-list {
			padding-top: 5px;
			padding-left: 5px;
			padding-right: 5px;
		}

		.ss-option {
			font-size: 16px !important;
			line-height: 1.8;
			padding: 0;
			color: $c-black;

			@include site-transition(opacity, 500ms);

			&:hover {
				background-color: transparent;
				color: $c-black;
				opacity: 0.4;
			}

			&.ss-disabled {
				cursor: pointer;
				color: $c-black;
				opacity: 0.4;
			}
		}
	}
}
