/* ==========================================================================================================
	Grid Mixins
=========================================================================================================== */

@mixin grid($inner: false) {
	display: block;

	.ie-11 & {

		@include media(">=medium") {

			@if $inner == false {
				padding-left: $grid_margin_mobile;
				padding-right: $grid_margin_mobile;
			}
		}

		@include media(">=large") {

			@if $inner == false {
				padding-left: $grid_margin_desktop;
				padding-right: $grid_margin_desktop;
			}
		}
	}

	@supports (display: grid) {
		display: -ms-grid;
		display: grid;
		grid-template-columns: repeat($grid_col_mobile, 1fr);
		column-gap: $grid_col_gutter_mobile;
		box-sizing: border-box;

		@if $inner == false {
			padding-left: $grid_margin_mobile;
			padding-right: $grid_margin_mobile;
		}

		@include media(">=medium") {
			grid-template-columns: repeat($grid_col_desktop, 1fr);
			column-gap: $grid_col_gutter_tablet;

			@if $inner == false {
				padding-left: $grid_margin_desktop;
				padding-right: $grid_margin_desktop;
			}
		}

		@include media(">=large") {
			column-gap: $grid_col_gutter_desktop;
		}
	}
}

@mixin grid-col($col-start, $col-end) {

	@if $col-start == "span" {
		grid-column: $col-start $col-end;
	} @else {
		-ms-grid-column: $col-start;
		-ms-grid-column-span: $col-end - $col-start;
		grid-column: #{$col-start} / #{$col-end};
	}
}

@mixin grid-col-full-bleed($direction: "left") {
	position: relative;

	@if ($direction == "left") {
		left: -$grid_margin_mobile;
		right: 0;
		width: calc(100% + #{$grid_margin_mobile});
	}

	@if ($direction == "right") {
		right: -$grid_margin_mobile;
		left: 0;
		width: calc(100% + #{$grid_margin_mobile});
	}

	@if ($direction == "both") {
		left: -$grid_margin_mobile;
		right: -$grid_margin_mobile;
		grid-column: content-start / content-end;
		width: calc(100% + (#{$grid_margin_mobile} * 2));
	}

	@include media(">=medium") {

		@if ($direction == "left") {
			left: -$grid_margin_desktop;
			right: 0;
			width: calc(100% + #{$grid_margin_desktop});
		}

		@if ($direction == "right") {
			right: -$grid_margin_desktop;
			left: 0;
			width: calc(100% + #{$grid_margin_desktop});
		}

		@if ($direction == "both") {
			left: -$grid_margin_desktop;
			right: -$grid_margin_desktop;
			width: calc(100% + (#{$grid_margin_desktop} * 2));
		}
	}
}
