/* ==========================================================================================================
	Character Style Mixins
=========================================================================================================== */
// font setups
@mixin RecklessNeue-Book() {
	font-family: $RecklessNeue-Book;
	font-style: normal;
	font-weight: 400;

	em {
		font-style: normal;
	}
}

@mixin NeueHaasUnicaW1GRegular() {
	font-family: $NeueHaasUnicaW1GRegular;
	font-style: normal;
	font-weight: 400;

	em {
		font-style: normal;
	}
}

@mixin DmMono() {
	font-family: $DmMono;
	font-style: normal;
	font-weight: 400;

	em {
		font-style: normal;
	}
}

// serif header base
@mixin H1-Serif {

	@include v-type(50px, 150px, 150px);
	@include tracking(-40);
	@include RecklessNeue-Book;
}

@mixin H2-Serif {

	@include v-type(40px, 100px, 100px);
	@include tracking(-30);
	@include RecklessNeue-Book;
}

@mixin H3-Serif {

	@include v-type(40px, 60px, 88px);
	@include tracking(-20);
	@include RecklessNeue-Book;
}

@mixin H4-Serif {

	@include v-type(25px, 50px, 58px);
	@include tracking(-20);
	@include RecklessNeue-Book;
}

@mixin H5-Serif {

	@include v-type(20px, 30px, 38px);
	@include tracking(-20);
	@include RecklessNeue-Book;
}

// Sans Serif Header Based
@mixin H1-SansSerif() {

	@include v-type(60px, 150px, 150px);
	@include tracking(10);
	@include NeueHaasUnicaW1GRegular;
}

@mixin H2-SansSerif() {

	@include v-type(40px, 100px, 100px);
	@include tracking(-20);
	@include NeueHaasUnicaW1GRegular;
}

@mixin H3-SansSerif() {

	@include v-type(40px, 100px, 100px);
	@include tracking(-40);
	@include NeueHaasUnicaW1GRegular;
}


@mixin H4-SansSerif() {

	@include v-type(40px, 60px, 68px);
	@include tracking(-20);
	@include NeueHaasUnicaW1GRegular;
}

@mixin H5-SansSerif() {

	@include v-type(25px, 50px, 58px);
	@include tracking(-20);
	@include NeueHaasUnicaW1GRegular;
}

@mixin H6-SansSerif() {

	@include v-type(25px, 40px, 48px);
	@include tracking(-20);
	@include NeueHaasUnicaW1GRegular;
}

// Paragraph stylings Mono & Sans Serif
@mixin P1-SansSerif() {

	@include v-type(18px, 20px, 30px);
	@include tracking(10);
	@include NeueHaasUnicaW1GRegular;
}

@mixin P2-SansSerif() {

	@include v-type(14px, 15px, 20px);
	@include tracking(10);
	@include NeueHaasUnicaW1GRegular;
}

@mixin P3-Mono() {

	@include v-type(10px, 12px, 22px);
	@include tracking(90);
	@include DmMono;
}

@mixin P4-Mono() {

	@include v-type(10px, 12px, 22px);
	@include tracking(0);
	@include DmMono;
}

@mixin body() {

	@include P1-SansSerif;

	strong {
		text-transform: uppercase;
	}

	em {
		font-style: normal;
	}
}


// default hyperlink - with draw in underline fx
@mixin link($underline:true) {
	text-decoration: none;
	cursor: pointer;

	@if $underline == true {
		background-image: linear-gradient($c-orange, $c-orange);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 100% 1px;
		transition: background-size 300ms $standard-curve;

	} @else {

		@include site-transition(color);
	}

	@media (hover: hover) {

		&:hover,
		&:focus {

			@if $underline == true {
				background-size: 0% 1px;

			} @else {
				color: $c-orange;
			}
		}
	}
}


// pill styles
@mixin pill() {
	--lh-t-adjust: 0.9;
	--lh-b-adjust: 1;
	outline: none;
	color: $c-black;
	border-radius: 60px;
	border: 1px solid $c-grey;
	text-decoration: none;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: capitalize;

	@include P1-SansSerif;
	@include lhCrop(1.5, 1.5);
	@include site-transition(border, 500ms);
	@include v-spacing(padding-top, 11px, 12px);
	@include v-spacing(padding-right, 20px, 20px);
	@include v-spacing(padding-bottom, 11px, 12px);
	@include v-spacing(padding-left, 20px, 20px);

	@media (hover: hover) {

		&:hover {
			border: 1px solid $c-black;
		}
	}
}

// basic list styles
@mixin list-styles() {

	ul,
	ol {
		width: 100%;
		position: relative;

		> li {
			position: relative;

			@include P1-SansSerif;
			@include v-spacing(padding-left, $VSM2, $VSD3);
		}
	}

	ol > li {
		counter-increment: list-number;

		&::before {
			content: counter(list-number) ".";
			position: absolute;
			left: 0;
			transform: scale(0.5);
			transform-origin: 50% 50%;
		}
	}

	ul > li {

		&::before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $c-black;
			position: absolute;
			left: 0;
			top: 16px;
		}
	}
}
