

.c-Form form {

	@include form-base;
}

.c-Form__row {

	@include form-row;
	@include form-select;

	.wpcf7-form-control-wrap {
		width: 100%;
		background-color: transparent;
	}
}

.c-Form__row--split {

	@include form-row("split");
}

input[type="text"].form-control,
input[type="email"].form-control,
input[type="tel"].form-control {
	width: 100%;
	font-size: 16px;
	background: transparent;
	z-index: 2;
	padding: 0;
	position: relative;
	border-top: none;
	border-left: none;
	border-right: none;
	height: 30px;
	border-bottom: 1px solid $c-grey;
	padding-bottom: 10px;
	transition: 400ms border $standard-curve;

	&:focus {
		outline: none;
		border-bottom: 1px solid $c-black;
	}

	&.wpcf7-not-valid {
		color: $c-orange;
		border-bottom: 1px solid $c-orange;
	}
}



.your-message + label {
	pointer-events: none;

	@include v-spacing(padding-top, 15px, 20px);
	@include v-spacing(left, 10px, 12px);
}

textarea {
	width: 100%;
	background: $c-white;
	resize: none;
	border: unset;

	@include v-spacing(padding-top, 15px, 20px);
	@include v-spacing(padding-right, 10px, 12px);
	@include v-spacing(padding-bottom, 10px, 12px);
	@include v-spacing(padding-left, 10px, 12px);
	@include P2-SansSerif;

	&:focus {
		outline: none;
	}

	&.wpcf7-not-valid {
		color: $c-orange;
		border: 1px solid $c-orange;
	}
}

.wpcf7-form-control-wrap {
	background: #fff;
	height: 100%;
	display: flex;
}

.wpcf7-list-item {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;

	@include form-checkbox;
}

label {
	z-index: 1;
	color: $c-black;
	position: absolute;
	transition: 500ms opacity $standard-curve;

	@include P2-SansSerif;

	span:not(.wpcf7-list-item-label) {
		color: $c-orange;
		margin-left: 3px;
	}

	&.js-fake-placeholder {
		opacity: 0;
	}
}

.c-Form__row.active {

	> label {
		opacity: 0;
	}
}

.wpcf7-not-valid-tip {
	display: none;
}

.wpcf7 form .wpcf7-response-output {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: calc(100% - 40px);
	color: $c-white;
	border: none;
	margin: 0;
	z-index: $z-level-three;
	animation: 500ms fadeOut 5000ms ease forwards;
	border: unset !important;

	@include P2-SansSerif;
	@include v-spacing(padding-top, 15px, 25px);
	@include v-spacing(padding-right, 10px, 20px);
	@include v-spacing(padding-bottom, 15px, 25px);
	@include v-spacing(padding-left, 10px, 20px);
}

form.invalid {

	.wpcf7-response-output {
		background-color: $c-orange;
	}
}

form.sent {

	.wpcf7-response-output {
		background-color: $c-green;
	}
}

form input[type="submit"].btn {
	background-color: $c-off-white;

	@include v-spacing(margin-top, 47px, 25px);
	@include pill;

	@include media("<small") {
		width: 100%;
	}
}

@keyframes fadeOut {

	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
