/* =========================================================================
  Font declarations
========================================================================== */
@import url(https://fonts.googleapis.com/css2?family=DM+Mono&display=fallback);

@font-face {
	font-family: "NeueHaasUnicaW1GRegular";
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url(../fonts/NeueHaasUnicaW1GRegular/NeueHaasUnicaW1GRegular.woff) format("woff"),
		url(../fonts/NeueHaasUnicaW1GRegular/NeueHaasUnicaW1GRegular.woff2) format("woff2");
}

@font-face {
	font-family: RecklessNeue-Book;
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url(../fonts/RecklessNeue-Book/RecklessNeue-Book.woff) format("woff"),
		url(../fonts/RecklessNeue-Book/RecklessNeue-Book.woff2) format("woff2");
}


/* =========================================================================
  CSS Global Variables
========================================================================== */

:root {

	@each $breakpoint-key, $breakpoint-var in $breakpoints {

		@include site-get-var-loop("#{$breakpoint-key}");
	}

	/* @link https://utopia.fyi/type/calculator?c=320,50,1.067,1900,150,1.067,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
	--type-scale: clamp(3.13rem, 1.86rem + 6.33vw, 9.38rem);
}


/* ============================================================================================
	Global classes and styles
============================================================================================= */

body {

	@include body;
}

p {

	@include body;
}

// utility classes
.u-site-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $c-black;
	z-index: $z-level-one;
	pointer-events: none;
	opacity: 0;
}

.u-close-icon {

	@include close-icon;
}
