/* ==========================================================================
	2 Col Layout
========================================================================== */

.l-2col {
	width: 100%;
	position: relative;

	@include grid-col(1, -1);
}

.l-2col__inner {
	width: 100%;
	display: flex;
	justify-content: space-between;

	@include grid-col(1, -1);

	@include media("<medium") {
		flex-wrap: wrap;
	}
}

.l-2col__header {

	@include H6-SansSerif;
}

.l-2col__col {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;

	@include media(">=medium") {
		width: 48%;
	}
}

.l-2col__sticky {

	@include media(">=medium") {
		position: sticky;
		position: -webkit-sticky;
		top: 100px;
	}
}

.l-2col__header--large {

	@include H2-SansSerif;
}

.l-2col--top {

	@include v-spacing(padding-top, 110px, 115px);
}

.l-2col__col--space-between {
	justify-content: space-between;
}

.l-2col--on-grid {

	.l-2col__inner {

		@include grid-container(true);
	}

	.l-2col__col:first-of-type {
		width: 100%;

		@include grid-col(1, -1);

		@include media(">=medium") {

			@include grid-col(1, 11);
		}

		@include media(">=large") {

			@include grid-col(1, 12);
		}
	}

	.l-2col__col:last-of-type {
		width: 100%;

		@include grid-col(1, -1);

		@include media(">=medium") {

			@include grid-col(12, -1);
		}

		@include media(">=large") {

			@include grid-col(13, -1);
		}
	}
}
