/* ==========================================================================
	Footer
========================================================================== */

/* Blocks */
.l-Footer {
	width: 100%;
	background-color: $c-red;
	padding-left: var(--site-margin);
	padding-right: var(--site-margin);

	@include v-spacing(padding-top, $VSM5, 80px);
	@include v-spacing(padding-bottom, 46px, 45px);
}
