/* ==========================================================================
	Footer
========================================================================== */

/* Blocks */
.l-Footer {
	width: 100%;
	background-color: $c-black;
	padding-left: var(--site-margin);
	padding-right: var(--site-margin);

	@include v-spacing(padding-top, 30px, 40px);
	@include v-spacing(padding-bottom, 20px, 30px);
}

.l-Footer__top,
.l-Footer__bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}

.l-Footer__top {

	@include v-spacing(padding-bottom, 85px, 130px);

	.l-Footer__left {

		@include media("<medium") {
			margin-bottom: 85px;
		}
	}
}

.l-Footer__bottom {

	.l-Footer__left {

		@include media("<medium") {
			order: 2;
			padding-top: 65px;
		}
	}

	.l-Footer__right {

		@include media("<medium") {
			order: 1;
		}
	}
}

.l-Footer__left,
.l-Footer__right {
	width: 100%;

	@include media(">=medium") {
		width: 45%;
	}

	@include media(">=xlarge") {
		width: 42%;
	}
}

.l-Footer__statement {
	width: 100%;
	color: $c-white;

	@include H5-Serif;
}

.l-Footer__copyright {
	color: $c-white;
	text-decoration: none;

	@include P2-SansSerif;
}

.l-Footer__links {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	.l-Footer__link {
		width: initial;
		line-height: 1;
		display: flex;

		@include media("<medium") {
			width: 50%;
			margin-bottom: 5px;

			&:nth-last-child(-n+2) {
				margin-bottom: 0;
			}
		}

		@include media(">=medium") {
			margin-right: 20px;
		}

		> a {
			color: $c-white;
			text-decoration: none;

			@include P2-SansSerif;
			@include site-transition(opacity, 500ms);

			@media (hover: hover) {

				&:hover {
					opacity: 0.5;
				}
			}
		}
	}
}
