/* ==========================================================================
	Main
=========================================================================== */

/* Blocks */
.l-Main {
	background-color: $c-white;
	position: relative;
	z-index: 1;
	min-height: 100vh;

	@include grid-container;

	article {
		grid-column: 1/-1;
	}
}
