/* ==========================================================================
	Main
=========================================================================== */

/* Blocks */
.l-Main {
	background-color: $c-off-white;
	position: relative;
	z-index: 1;
	min-height: 100vh;

	@include grid-container;
}
