body.styleguide {

	.l-Header,
	.l-Footer {
		display: none;
	}

	.sg-type,
	.sg-element {
		width: 100%;
		border-top: 1px solid #ff0062;
		margin: 2.5em auto 2.5em auto;
		padding-top: 1rem;
		position: relative;

		@include grid-col(1, -1);

		@include media(">=large") {
			padding-right: 20vw;
		}

		&::before {
			content: attr(data-title);
			font-size: 14px;
			font-weight: 400;
			top: -2em;
			color: #ff0062;
			position: absolute;
			font-family: "Helvetica Neue", sans-serif;
		}
	}

	.sg-element {
		border: 0;

		&::after {
			content: none;
		}


	}

	// .sg-type {


	// }
}
